@import url('https://fonts.googleapis.com/css2?family=Lato&family=Pacifico&family=Righteous&family=Roboto+Condensed:wght@300&display=swap');

body{
	padding: 0%;
	margin: 0%;
	font-family: 'Lato';
}
/*Header*/
.navbar-brand{
	font-family: 'Pacifico';
	font-size: 35px;
	color: lightcoral !important;
}
.nav-link{
	font-size: 16px;
	margin: 0px 15px;
	color: black !important;
	font-family: 'Roboto Condensed';
}

.nav-link:hover{
	color: #00E8E8 !important;
}

.active .nav-link{
	color: #00E8E8 !important;
}
.menu-right-btn{
	padding: 6px 20px;
	margin-right: 15px;
	background-color: aliceblue;
	transition: all 300ms ease-in;
}
.menu-right-btn:hover{
	color: white;
	background-color: #00E8E8;
}
.navbarstyles{
  background: #FFFFFF;
  border-bottom: 1px solid rgba(122,122,122,.2);
}
.navbar-brand {
    font-size: 26px;
}
/*End header*/
.sidebars{
	width: 300px;
	height: 100vh;
	/* background: #F0F2F5; */
	position: fixed;
	top: 68px;
	left: 0px;
	z-index: 111;
	overflow: hidden;
	max-height: calc(100vh - 68px);
}
.sidebars:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

.sidebars::-webkit-scrollbar {
  width: 8px;
}

.sidebars::-webkit-scrollbar-track {
  background: #F0F2F5;
}
 
.sidebars::-webkit-scrollbar-thumb {
  background: rgba(125,125,125,.4);
  border-radius: 50px;
}

.sidebars::-webkit-scrollbar-thumb:hover {
  background: rgba(125,125,125,.5);
}
.lefttest {
    width: 260px;
    /* background: #F0F2F5; */
    padding: 0px 16px 0px 16px;
    box-sizing: content-box;
}
.lefttest p {
    text-align: justify;
}
.container_custom{
	margin-left: 300px;
	width: calc(100% - 300px);
	margin-top: 68px;
	box-sizing: border-box;
	padding: 20px;

}

@media only screen and (max-width: 768px) {
	.sidebars{
    display: none;
    background: aliceblue;
    width: 100%;
    z-index: 999;
    opacity: 1;
	}
	.container_custom{
	margin-left: 0px;
	width: 100%;
	margin-top: 68px;
	box-sizing: border-box;
	padding: 20px;

}
.lefttest{
  width: 100%;
    box-sizing: border-box;
    background: aliceblue;
    display: block;
    opacity: 1;
}
.searchclass{
  left: 0px;
    width: 100% !important;
    background: aliceblue !important;
}
input.searchcl {
  width: 94% !important;
  box-sizing: border-box;
  margin-left: 3%;
  padding: 20px;
}
button.searchbtn {
  left: 88% !important;
  background: rgba(200,200,200,.1) !important;

}
div#navbarMenu {
  background: aliceblue;
  width: auto;
  height: 100vh;
}
.navbar-collapse li.nav-item {
  margin-top: 10px;
}

.navbar-collapse li.nav-item a.nav-link {
  background: rgba(0,0,0,.1);
  border-radius: 6px;
  text-align: center;
  color: #000000!important;
  font-family: sans-serif;
  /* text-transform: uppercase; */
  font-size: 15px;
}
.sidebars .menus ul li a {

  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,.1)) !important;

}
.menu-right-btn {
  width: 100%;
  padding: 6px;
  margin: 12px;
  text-align: center;
  box-sizing: border-box;
  background: darkturquoise;
  font-weight: bold;
}
}

@media only screen and (min-width: 768px) {
.lestsidicon{
	display: none;
}
}
.menus {
    margin-top: 60px;
}
.searchclass {
    width: 274px;
    position: fixed;
    top: 68px;
    /* background: #F0F2F5; */
    background: #FFFFFF;;
    padding: 10px 0px;
    z-index: 99;
}

input.searchcl {
    width: 260px;
    height: 40px;
    padding-right: 25px;
    border: navajowhite;
    background: rgba(200,200,200,.3);
    padding-left: 10px;
    outline: none;
        border-radius: 100px;
}
input.searchcl:hover{

}
button.searchbtn {
    width: auto;
    height: 40px;
    position: absolute;
    left: 222px;
    top: 10px;
    border: none;
    /* background: rgba(200,200,200,.3); */
    outline: none;
        border-radius: 100px;
}

.lestsidicon{
	border: 1px solid rgba(111,111,111,.2);
    font-size: 16px;
    font-family: sans-serif;
    outline: none;
    padding: 5px 9px;
    border-radius: 6px;
}

.sidebars .menus ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sidebars .menus ul li{
	width: 100%;
    height: auto;
    margin-top: 5px;
}
.sidebars .menus ul li a {
  width: 100%;
  height: auto;
  padding: 8px 12px;
  /* background: antiquewhite; */
  background-image: linear-gradient(to right, rgba(255,0,0,.1), rgba(255,0,0,0));
  display: inline-block;
  text-decoration: none;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px 1px 1px rgb(122 122 122 / 9%);
}
#SideDropMenu1 {
  display: none;
}
#SideDropMenu2 {
  display: none;
}
#SideDropMenu3 {
  display: none;
}
#SideDropMenu4 {
  display: none;
}
#SideDropMenu5 {
  display: none;
}
#SideDropMenu6 {
  display: none;
}
#SideDropMenu7 {
  display: none;
}

.sidebars .menus ul li i.fa.fa-angle-double-right {
    font-size: 10px;
    color: black;
    float: right;
    padding-top: 3px;
}


.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,0) !important;
}













.bg-black{background-color: rgba(14,14,14,1.00)}
.carousel-caption{top:200px;}

.bg-orange{background-color: #f0644f;color: aliceblue;font-weight:600;text-align:center}
.m-right{border: 2px solid #f0644f; border-right: 2px solid white;}

.underline{width: 100px; height:2px; background-color: orangered;}
/* .bg-light-gray{background-color: rgba(111,111,111,0.09)} */

.media img{max-width:120px; height:auto}
.underline-green{width: 70px; height: 2px; background-color:lawngreen}
.underline-blue{width: 70px; height: 2px; background-color: mediumblue;}
.underline-black{width: 70px; height: 2px; background-color: black;}

.card-body{text-align: center;}

.blog .media img{max-width: 200px; height: auto;}
/* Modal button style */
.custombtn {
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 0px 1px 0px 0px rgb(111 111 111 / 50%);
  outline: none;
}
/* Modal button style end */
/* Modal Image Size */
.imagesize{
  width: 100%;
  height: 250px;
}
/* Modal Image Size End */
.card-text {
  margin-bottom: 5px;
  line-height: 19px;
}
.card-title {
  margin-bottom: 5px;
}
.card-body {
  text-align: center;
  padding: 10px;
}
.trytobest {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  border-radius: 5px;
  opacity: 0;
  cursor: pointer;
}
.trytobest h1{
  text-align: center;
  padding: 101px 0px;
  box-sizing: border-box;
  font-weight: bold;
}
.trytobest:hover{
  opacity: .9;
  background: white;
  transition: 0.5s;
}